@tailwind base;
@tailwind components;
@tailwind utilities;

/* Minimal CSS that doesn't use any custom utilities */

:root {
  --foreground: #1e293b;
  --background: #f8fafc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #f8fafc;
    --background: #0f172a;
  }
}

